* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    outline: none;
}

body {
    background-color: rgba(138, 81, 252, 1);
}

.img-logo {
    width: 300px;
    height: 300px;
    margin: 20px auto;

    display: block;         /*macete para centralizar imagem*/
    margin-left: auto;
    margin-right: auto;
}

main {
    width: 375px;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select, input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

button {
    background: rgba(119, 47, 211, 1);
    border-radius: 5px;
    height: 40px;
    width: 100%;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: 700;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

section {
    border: 1px solid rgba(119, 47, 211, 1);
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div img {
    width: 44px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arrow-img {
    margin: 15px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.moeda {
    color: #777777;
    font-size: 14px;
}

.moeda-valor, .moeda-valor2{
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}